.container {
  width: 400px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: end;
}