
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
