.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4a90e2;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title p {
  margin-left: 8rem;
}

.na-link {
  display: flex;
  align-items: center;
}

ul,
a {
  text-decoration: none;
  margin: 0;
  font-style: none;
  list-style: none;
}

.list-container a,
.title {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.title {
  font-size: 24px !important;
  text-align: center;
}
