.container {
  max-width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #f8f9fa;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 15px;
  margin-bottom: 25px;
}

.m-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4a90e2;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 60px;
}

.m-header h3 {
  margin: 0 15px;
  font-weight: bold;
}

.main-content {
  width: 75%;
  display: block;
  align-items: center;
}

.task-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 10px;
}
