.task-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  gap: 1rem;
  margin-top: 10px;
}

.main-content {
  width: 100%;
}

.btn {
  border-radius: 25px;
}
/* Centraliza o loading no management-tasks */
.loading-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 100%;
}
