<div class="container">
  <div class="row">
    <div class="col-8">
      <span class="mb-2">Nome da tarefa</span>
    </div>
    <div class="col">
      <span>Prioridade</span>
    </div>
  </div>
  <div class="row d-flex">
    <div class="input-task d-flex flex-column col-8">
      <div class="d-flex">
        <input
          type="text"
          class="form-control main"
          placeholder="Adicione uma task..."
          id="taskInput"
          name="taskInput"
        />
      </div>
    </div>
    <div class="priority col mt-2">
      <select class="form-select">
        @for (prior of priority; track prior.id) {
        <option [ngStyle]="{ color: prior.color }">{{ prior.risco }}</option>
        } @empty {
        <span>Não há prioridade</span>
        }
      </select>
    </div>
  </div>
  <div class="button-area d-flex justify-content-end gap-2">
    <button class="btn btn-outline-danger mt-3">Limpar</button>
    <button class="btn btn-primary mt-3 add">Adicionar Tarefa</button>
  </div>
</div>
